<div class="container">
    <div class="header">
        <i class="material-icons">
            fingerprint
        </i>
        <p>MAC</p>
        <p>IPHONE</p>
        <p>IPAD</p>
        <p>WATCH</p>
        <p>MUSIC</p>
        <P>TV</P>
        <p>SUPPORT</p>
        <i class="material-icons
      shopping">
            search
        </i>

        <i class="material-icons">
            work_outline
        </i>


    </div>
</div>


<div class="containerbody">

    <div class="hole1">
        <div class="body">
            <div class="box">
                <p>
                    limited Time
                </p>

            </div>
            <h1>
                iPhone XR from $449.iPhone XS from $699.*
            </h1>
            <div class="trade">
                <p class="corrent animated infinite shake delay-2s">Trade in your corrent iphone and upgrade to a new
                    one.</p>
            </div>
            <p class="blue"> Buy Now ></p>

        </div>
    </div>
</div>


<div class="b2">


    <div class="b4">
        <div class="b5">
            <p class="b9 animated infinite swing delay-2s">
                iPhone XR
            </p>

        </div>
        <h1 class="b10">
            All-screen design. Longest battery life ever in an iPhone.
        </h1>
        <div class="b6">
            <p class="b7">Faster performence. Studio-quality photos.</p>
        </div>
        <p class="b8"> learn more> buy > </p>


    </div>

</div>

<div class="c1">


    <div class="c2">
        <div class="c3">
            <p class="c4 animated infinite heartBeat delay-2s">
                iPhone XS
            </p>

        </div>
        <h1 class="c5">
            Largest Super Retina display. Faster performence with

        </h1>
        <p class="c9">
            A12 Bionic. Most secure facial authentication with Face ID.
        </p>
        <div class="c6">
            <p class="c7">Breakthrough dual camaras with Depth Control.</p>
        </div>
        <p class="c8"> learn more> buy > </p>


    </div>

</div>

<div class="mariza">
    <div class="rows">
        <div class="idea-righ">
            <div class="apple">
                <div class="aaaa">
                    <div class="A">
                        <p class="aa animated infinite bounceInDown delay-2s">
                            ECG on your wrist.
                        </p>

                    </div>
                    <p class="ab">
                        It's Heart Month. Learn about your
                    </p>
                    <p class="ac">
                        heart health with Apple Watch.
                    </p>
                    <p class="ad">
                        Learn More >
                    </p>



                </div>

            </div>
        </div>


        <div class="idea-left">
            <div class="wallpaper">
                <div class="wellwatch">
                    <div class="well">
                        <div class="watch animated infinite pulse delay-2s">
                            Watch
                        </div>

                    </div>
                    <a class="sery">
                        Series 4
                    </a>
                    <p class="colorful">
                        More Powerful,more colorful
                    </p>
                    <p class="colorf">
                        Learn More> Buy >
                    </p>
                </div>
                <div class="iwatch">

                </div>

            </div>
        </div>
    </div>

    <div class="maincontainer">
        <div class="row2">
            <div class="idea-left1">
                <a class="mini animated infinite bounce delay-2s">
                    IPad Mini</a>
                <a class="buynow">Buy Now></a>
                <p class="ipadmini"></p>



            </div>
            <div class="idea-right2">
                <a class="air animated infinite bounce delay-2s">
                    IPad Air
                </a>
                <a class="airbuy">
                    Buy Now>
                </a>
                <p class="airplan"> </p>

            </div>
            <div class="idea-left3">
                <a class="proipad animated infinite bounce delay-2s">
                    IPad Pro
                </a>
                <a class="probuy">
                    Buy Now>
                </a>
                <p class="ipadpro"> </p>
            </div>
            <div class="idea-right4">
                <a class="ipad2 animated infinite bounce delay-2s">
                    IPad
                </a>
                <a class="buy">
                    Buy Now>
                </a>
                <p class="ipad"> </p>
            </div>

        </div>

    </div>



    <div class="ramariza">
        <div class="rowza">
            <div class="za-righ">
                <div class="za">
                    <div class="bbbb">
                        <div class="you">
                            <p class="stew">
                                Stew Jobs Founder Apple.
                            </p>

                        </div>
                        <p class="stay">
                            "Stay Angry Stay foolish"
                        </p>




                    </div>

                </div>
            </div>


            <div class="za-left">
                <div class="ra">
                    <div class="ra-za">
                        <div class="will">
                            <div class="time">
                                Your time is limited,
                            </div>

                        </div>
                        <a class="waste">
                            so don't waste it living
                        </a>
                        <p class="life">
                            someone else's life.
                        </p>

                    </div>


                </div>
            </div>
        </div>



        <div class="swiper-container" [swiper]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a class="particle">Particle simulation? Elementary.</a>
                    <p class="billowing">Billowing smoke. Torrential rain.</p>

                    <p class="up">With up to 18 cores and Hyper-Threading,</p>


                </div>
                <div class="swiper-slide">
                    <img src="../assets/image/remode.jpg" />
                    <h6> Hello World</h6>
                
                </div>
                <div class="swiper-slide">
                    <img src="../assets/image/pink.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/image/desktop.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="../assets/image/iphone8.jpg" />
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>





        <div class="footer">
            <div class="col">
                <h4>Shop and Learn</h4>
                <ul>
                    <li>Mac</li>
                    <li>iPad</li>
                    <li>iPhone</li>
                    <li>Watch</li>
                    <li>TV</li>
                    <li>Music</li>
                    <li>iTunes</li>
                    <li>HomePod</li>
                    <li>iPod touch</li>
                    <li>Apple card</li>
                    <li>Accessories</li>
                    <li>Gifts Card</li>
                </ul>
            </div>
            <div class="col">
                    <h4>Apple Store</h4>
                    <ul>
                        <li>Fine a store</li>
                        <li>Genius Bar</li>
                        <li>Today at Apple</li>
                        <li>Apple Camp</li>
                        <li>Field Trip</li>
                        <li>Apple Store App</li>
                        <li>Refurbished and Clearance</li>
                        <li>Finincing</li>
                        <li>Apple Trade In</li>
                        <li>Order Status</li>
                        <li>Shoping Help</li>
                        
                    </ul>
            </div>
            <div class="col">
                    <h4>For Education</h4>
                    <ul>
                        <li>Apple and Education</li>
                        <li>Shop for College</li>
                        
                    </ul>
                    <h4>For Business</h4>
                    <ul>
                        <li>Apple and Business</li>
                        <li>Shop for Business</li>
                        
                    </ul>
                    <h4>For Healthcare</h4>
                    <ul>
                        <li>Apple and Healthcare </li>
                        <li>Health on Apple Watch</li>
                        <li>Health Records on iPhone</li>
                        
                    </ul>
            </div>
            <div class="col">
                    <h4>Account</h4>
                    <ul>
                        <li>Manage Your Apple ID</li>
                        <li>Apple Store Account</li>
                        <li>iCloud.com</li>
                       
                    </ul>
                    <h4>Apple Values</h4>
                    <ul>
                        <li>Accessibility</li>
                        <li>Education</li>
                        <li>Environment</li>
                        <li>Inclusion and Diversity</li>
                        <li>Privacy</li>
                        <li>Suppplier Responsibility</li>
                        
                       
                       
                    </ul>
            </div>
            <div class="col">
                    <h4>For Government</h4>
                    <ul>
                        <li>Shop for Government</li>
                        <li>Shop for Veterans ad Military</li>
                      
                    </ul>
                    <h4>About Apple</h4>
                    <ul>
                        <li>Newsroom</li>
                        <li>Apple Leadership</li>
                        <li>Job Opportunities</li>
                        <li>Investors</li>
                        <li>Events</li>
                        <li>Contact Apple</li>
                  
                  </ul>
        
                </div>
        
        </div>
        <div class="last-footer">
            <div class="footer2">
                <h6 class="ter2">
                 <ul>
                     <li>More way to shop: Visit and apple store, call 1-800-MAY-APPLE, or fine a reseller.</li>
                     <li>Copyright @ 2019 Apple Inc. All rights reserve.  Privacy Policy </li>
                 </ul>
                </h6>
                

            </div>
            

        </div>